body{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
}
#main{
    padding: 2%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    width: 90%;
    height: 90%;
    background-color: blue;

}

.btn{
    background-color: red;
    width: 2%;
    
    margin: 1%;
    padding: 11%;
}
#reset {
    display: flex;
    align-items: center;
    justify-content: center;
    padding:
    background-color: darkblue;
}
#reset >button{
    
}
.player-one{
    background-color: aqua;
}

.player-two{
    background-color: darkolivegreen;
}